<H1>Data Science Tools and Ecosystem

<h2> Introduction

In this notebook Data Science tools and Ecosystem are Summerised.

**Objectives**

* List popular languages for Data Science.
* List commonly used libraries used by Data Scientists.
* Create a table in markdown

Some of the popular languages data science use are:
    
 1.   Python.
 2.   R.
 3.   SQL.
 4.   Java.
 5.   Julia.
 6.   Scala.
 7.   C/C++
 8.   JavaScript.

Some of the commonly used libraries used by Data Scientists include:
    
1. Tensorflow
2. Pytorch
3. Scikit-learn
4. graph-tool

|Data Science Tools|
|------------------|
|Excel|
|BigML|
|DB3|

<h3>Below are a few examples of evaluating arithmetic expressions in Python:

In [1]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [3]:
200/60
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

<h2>Author

Tawanda Don Masokovere